<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JupiReads | Account</title>
    <link rel="stylesheet" href="/styles/home.css">
    <%- include('../partials/fonts') %>
</head>
<body>
    
    <%- include('../partials/adminNavbar') %>

    <%- include('../partials/adminSidebar') %>

    <div class="content">
        <div class="account-info">
            <p><strong>Email: </strong><%= admin.email %></p>
        </div>
        <div class="options">
            <a href="/admin/settings" class="editProfile">Edit Profile</a>
        </div>
    </div>

    <%- include('../partials/footerA') %>

</body>
<style>
    .content h1 {
        margin: 20px;
        font-size: 24px;
        color: #333;
    }

    .account-info {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin: 20px;
    }

    .account-info p {
        margin: 10px 0;
    }

    .account-info p strong {
        font-weight: bold;
        margin-right: 10px;
    }
    .account-info a {
        color: goldenrod;
    }
    .options {
        margin: 20px;
    }
    .options a {
        background-color: rgba(255, 210, 0, 1);
        color: black;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
    }
    .options a:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }
</style>
</html>