<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JupiReads | Orders</title>
    <link rel="stylesheet" href="/styles/home.css">
    <%- include('../partials/fonts') %>
</head>
<body>
    
    <%- include('../partials/adminNavbar') %>

    <%- include('../partials/adminSidebar') %>

    <div class="content">
        <div class="orders">
            <% if (orders.length > 0) { %>
                <h3>you have <%= ordersCount %> orders</h3>
                <% orders.forEach(order => { %>
                    <div class="order">
                        <div class="orderInfo">
                            <div>
                                <button class="markAsDeliveredBtn">
                                    <i class="fa-solid fa-trash" style="color: #0d0d0d;" title="remove order" onclick="deleteOrder('<%= order._id %>')"></i>
                                </button>
                            </div>
                            <div>
                                <p><strong>Order ID: </strong><%= order._id %></p>
                                <p><strong>Ordered by: </strong><%= order.user.email %></p>
                                <p><strong>Order Date: </strong><%= new Date(order.createdAt).toLocaleString() %></p>
                            </div>
                            <div>
                                <button class="showItemsBtn">Show order items</button>
                            </div>
                        </div>
                        <div class="orderItems">
                            <div class="orderItemsHeader">
                                <div class="cover"><p><strong>Cover</strong></p></div>
                                <div class="title"><p><strong>Title</strong></p></div>
                                <div class="author"><p><strong>Author</strong></p></div>
                                <div class="price"><p><strong>Price</strong></p></div>
                                <div class="quantity"><p><strong>Quantity</strong></p></div>
                            </div>
                            <% order.books.forEach(book => { %>
                                <div class="orderItem">
                                    <div class="cover">
                                        <img src="/covers/<%= book.bookId.imageUrl %>">
                                    </div>
                                    <div class="title"><p><%= book.bookId.title %></p></div>
                                    <div class="author"><p><%= book.bookId.author %></p></div>
                                    <div class="price"><p><%= book.bookId.price %></p></div>
                                    <div class="quantity"><p><%= book.quantity %></p></div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No orders found.</p>
            <% } %>
        </div>
    </div>
    

    <%- include('../partials/footerA') %>
</body>
<style>
    .order {
        margin-top: 20px;
        margin-right: 40px;
        border: 1px solid rgb(233, 228, 228);
        border-radius: 10px;
    }
    .orderInfo {
        background-color: #f9f9f9;
        padding: 10px;
        margin-bottom: 4px;
        border-radius: 10px;
    }
    .orderInfo .markAsDeliveredBtn {
        float: right;
        border: none;
        transition: 3s ease;
    }
    .orderInfo .markAsDeliveredBtn i:hover {
        transform: scale(1.1);
    }
    .orderItems {
        display: none;
    }
    .orderItem {
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(233, 228, 228);
        border-radius: 10px;
    }
    .orderItem div,
    .orderItemsHeader div {
        margin: 10px;
    }
    .orderItemsHeader,
    .orderItem {
        display: flex;
        justify-content: space-between;
    }
    .cover {
        width: 150px;
    }
    .cover img {
        width: 100px;
        border-radius: 20px;
    }
    .title {
        width: 200px;
    }
    .quantity,
    .price {
        width: 100px;
    }
    .author {
        width: 200px;
    }
    .showItemsBtn {
        margin-top: 5px;
        border: none;
        color: rgb(110, 79, 0);
        font-style: oblique;
        background-color: transparent;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const showItemsButtons = document.querySelectorAll('.showItemsBtn');

        showItemsButtons.forEach(button => {
            button.addEventListener('click', function() {
                const orderInfo = button.closest('.order').querySelector('.orderInfo');
                const orderItems = orderInfo.nextElementSibling;
                if (orderItems.style.display === 'none') {
                    orderItems.style.display = 'block';
                    button.textContent = 'Hide order items';
                } else {
                    orderItems.style.display = 'none';
                    button.textContent = 'Show order items';
                }
            });
        });
    });

    function deleteOrder(orderId) {
        console.log('Removing order with ID:', orderId); 
        fetch('/admin/deleteOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ orderId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Order removed.');
                window.location.reload();
            } else {
                console.error('Failed to remove order:', data.message);
                alert('Failed to remove order: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }
</script>
</html>
