<div class="book">
    <div class="bookCover">
        <img src="/covers/<%= book.imageUrl %>">
        <div class="options">
            <a href="#"><i class="fa-solid fa-heart" style="color: #FFD43B;" title="Add to favorites" onclick="addToFavorites('<%= book._id %>')"></i></a>
            <a href="#"><i class="fa-solid fa-circle-plus" style="color: #FFD43B;" title="Add to cart" onclick="addToBasket('<%= book._id %>')"></i></a>
        </div>
    </div>
    <div class="bookInfo">
        <a href="/<%= userType %>/book/<%= book._id %>">
            <p class="titleEdition">
                <%= book.title %>
                <% if (book.edition) { %>
                    , <%= book.edition %>
                <% } %>
            </p>
        </a>
        <p>By <%= book.author %>, <%= book.year %></p>
        <p>Language: <%= book.language %></p>
        <p><%= book.pages %> pages</p>
        <% if (book.series) { %>
            <p><strong>Part of series: </strong><%= book.series %></p>
        <% } %>
        <% if (book.categories) { %>
            <% const categoriesArray = JSON.parse(book.categories); %>
            <% const categoriesString = categoriesArray.join(", "); %>
                <p><%= categoriesString %></p>
        <% } %>
        <p><strong><%= book.price %></strong> $</p>
        <% if (book.availableCopies <= 0) { %>
            <p class="unavailableMark">Unavailable</p>
        <% } %>
    </div>
</div>
<style>
    .unavailableMark {
        color: red;
    }
    .titleEdition {
        font-size: 15px;
        color: rgb(128, 125, 120);
        text-decoration: none;
        font-weight: bold;
    }

    .titleEdition:hover {
        color: black;
    }
    .options {
        margin-left: 10px;
        transition: color 0.3s ease, transform 0.3s ease;
    }
    .options i:hover {
        color: #202020; 
        transform: scale(1.2); 
    }
</style>
<script>
    function addToFavorites(bookId) {
        fetch('/user/addToFavorites', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ bookId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Book added to favorites!');
            } else {
                console.error('Failed to add book to favorites:', data.message);
                alert('Failed to add book to favorites: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }

    function addToBasket(bookId) {
        fetch('/user/addToBasket', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ bookId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Book added to basket!');
            } else {
                console.error('Failed to add book to basket:', data.message);
                alert('Failed to add book to basket: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }
</script>