<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JupiReads | Favorites</title>
    <link rel="stylesheet" href="/styles/home.css">
    <%- include('../partials/fonts') %>
</head>
<body>
    
    <%- include('../partials/navbar') %>

    <%- include('../partials/sidebar') %>

    <div class="content">
        <h1>Favorites</h1>
        <div class="books">
            <% if (favorites.length > 0) { %>
                <% favorites.forEach(book => { %>
                    <%- include('../partials/favoriteDisplay', { book: book, userType: 'user' }) %>
                <% }); %>
            <% } else { %>
                <p>You have no favorite books.</p>
            <% } %>
        </div>
    </div>

    <%- include('../partials/footer') %>
    
</body>

</html>